@charset "UTF-8";

@font-face {
    font-family: 'caviardreams';
    src: url('./caviar_dreams/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #F2EBC4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form {
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    border: 2px solid #65A69A; /* Ajuste de cor */
}

h2 {
    font-family: 'caviardreams';
    color: #D9420B;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    color: #D97823; /* Ajuste de cor */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #65A69A; /* Ajuste de cor */
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #F29B30;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #D9420B; /* Ajuste de cor */
}

.back-button {
    width: auto;
    padding: 10px;
    background-color: #65A69A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #D9420B; /* Ajuste de cor */
}

.plan-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.hidden-radio {
    display: none;
}

.plan-button {
    padding: 10px 20px;
    background-color: #65A69A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.plan-button:hover {
    background-color: #D9420B; /* Ajuste de cor */
    transform: scale(1.05);
}

input[type="radio"]:checked + label {
    background-color: #D9420B; /* Ajuste de cor */
}
