@charset "UTF-8";

@font-face {
    font-family: 'caviardreams';
    src:  url('./caviar_dreams/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'caviardreams', sans-serif;
    background-color: #F29B30;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > h1 {
    background-color: #65A69A;
    text-align: center;
    color: #F2EBC4;
    margin: 0;
    padding: 20px 0;
}

header > p {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
}

/*
#info, #imagens {
    flex: 1;
    padding: 20px;
}
*/


#imagens {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagens img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #65A69A;
    font-size: medium;
    padding: 10px;
    color: #F2EBC4;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
