@charset "UTF-8";

@font-face {
    font-family: 'caviardreams';
    src:  url('./caviar_dreams/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

header
{
    font-family: 'caviardreams';
    background-color: #65A69A;
    text-align: center;
    color: #F2EBC4;
    margin: 0;
    padding: 20px 0;
}

a{
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: calc(100vh - 50px);
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
}

footer {
    background-color: #65A69A;
    font-size: medium;
    padding: 10px;
    color: #F2EBC4;
    text-align: center;
    bottom: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    margin-left: 1px;
    margin-right: 18px;
}

nav > a{
    background-color:#D9420B;
    color:#F2EBC4;
    border-radius: 4px;
    padding: 4px;
}

.btn-cadastro {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-cadastro:hover {
    background-color: #007BFF;
    color: #fff;
}

